/*CSS by Ella Villacreses*/
@layer reset, base, layout, components, utilities;

/*Imported Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Myeongjo&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*CSS Reset*/
@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
  }
}

/*ROOT*/
@layer base {
  :root {

    /*Color*/
    --beige: #EBE6DA;
    --black: #000000;
    --lt-pink: #CCBAB5;
    --dark-pink: #FC94AF;
    --off-white: #F3F2EE;
      
    /*Type*/
    --font-body: Playfair display, sans-serif;
    --line-height: 1.5;
    --font-heading: 2.5rem;

    /*Spacing*/
    --sm-space: 16px;
    --md-space: 24px;
    --lg-space: 48px;

    /*Shape*/
    --small-radius: 4px;
    --medium-radius: 8px;
    --big-radius: 16px;

    /*Focus*/
    --focus-color: #F3F2EE;
    --focus-width: 2px;
  }

  img,
  svg {
    max-width: 100%;
  }
}

/*GLOBAL STYLES Mobile first*/

/*Base*/
@layer base {
  body {
    font-family: Playfair Display, sans-serif;
    line-height: 1.5;
    color: var(--black);
    margin: 0;
  }
  
  h1 {
    font-family: Nanum Myeongjo, sans-serif;
    color: var(--black);
  }
  
  h2 {
    font-family: Nanum Gothic, sans-serif;
    color: var(--black);
  }

  a {
    color: var(--black);
    text-decoration: underline;
  }
  
  a:hover {
    color: var(--off-white);
  }
}

/*Layout*/
@layer layout {
  header {
    background: var(--beige);
    color: var(--off-white);
    padding: 24px;
  }
  
  .site-header nav ul {
    list-style: none;
    margin: 16px 0 0 0;
    display: flex;
    gap: 16px;
  }
  
  footer {
    background: var(--lt-pink);
    color: var(--black);
    padding: 24px;
  }
}

/*Components*/
@layer components {
    .button {
    display: inline-block;
    background: var(--lt-pink);
    color: var(--black);
    padding: 12px 18px;
    border-radius: var(--small-radius);
    text-decoration: none;
    font-weight: bold;
  }
  
  .button:hover,
  button:hover {
    background: var(--dark-pink);
    color: var(--black);
  }

  .button:focus visible,
  button:focus visible {
    outline: 2px solid var(--focus-color);
  }

  .button:active,
  button:active {
    background: var(--off-);
    color: var(--black);
  }

  .card {
    background: white;
    display: grid;
    border: 1px solid var(--dark-pink);
    border-radius: var(--small-radius);
    padding: 20px;
  }
  
  form {
    border: 4px solid var(--dark-pink);
    padding: 16px;
    background: var(--lt-pink);
  }

  .site-header nav a[aria-current='page'] {
    display: none;
  }
}

/*MEDIA QUERIES - Medium*/
@media (min-width: 768px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*MEDIA QUERIES - Large*/
@media (min-width: 1440px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*MEDIA QUERIES - Print*/
@media print {
  img {
    display: none;
  }
}

/*ARCHITECTURE NOTES*/
/*For my layer and order strategy, I made sure to organize all of my CSS to properly cascade down to ensure success when building my site.
I began with base styles, then moved into layout and component styles. I ended with the different size media queries and the print block to finish my architecture.

My token decisions center around the desire for a professional yet personable and creative portfolio.
I chose simple shades of beige, white, and black and then fun accent tones of pink. I built variables for Spacing, Shape, and Focus to simplify my coding later.
I used simple px measurements so that multiply from one another (ex: the radius moving from --small-radius: 4px to --medium-radius: 8px and ending with --big-radius: 16px;).
This will help me when organizing my site due to establishing global spacing rules.

My naming approach involves me apply the most intuitive name for each token and variable.
These are names that were also commonly used throughout the duration of my HTML/CSS classes within the GIT program.

The browser checks I conducted involved using base HTML and conducting a variety of viewport alterations. 
he first browser tests I conducted were done at both narrow and wide widths. I opened my site in the default browser and shrank it to 375px to make sure that columns stacked correctly and that there was no overflow.
I then did the same thing but at the regular size viewport, 1440px wide. Everything changed correctly and realigned to the 3 column layout I had included.
For my focus checks, I moused over all of the buttons and links to ensure that the color fill, text decoration changes, and underlines appeared properly.
To conduct a print check, I used Command + P to open the print preview window.
I then analyzed the print preview window that appeared, which correctly showed a lack of images in order to increase both printing efficiency and accessibility. */